<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogFile="%appdata%\Rumors\Logs\RumorsDesktom.log"
	  internalLogLevel="Info">

	<targets>
		<target xsi:type="File" name="log"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="log-file" fileName="${specialfolder:folder=ApplicationData}\Rumors\Logs\RumorsDesktop.log"
				layout="${date}|${level:uppercase=true}|${callsite}:${callsite-linenumber}|${message} ${exception:format=ToString,StackTrace}|${logger}|${all-event-properties}"/>
	</rules>
</nlog>